@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #1168b9, #ceba8e); 
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
